<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/syle.css">
    <title>Biografía de Charles Babbage</title>
</head>
<body>
    <header>
        <a href="/"><img src="/img/Banner-DH-Heroes.jpg" alt="DH Heroes Home" width="1340"></a>
        <nav class="centrado">
            <ul>
                <li><a href="/clarke"><img src="/img/Banner-Joan-Clarke.jpg" alt="Joan Clarke" width="360"></a></li>
                <li><a href="/berners-lee"><img src="/img/Banner-Tim-Berners-Lee.jpg" alt="Tim Berners Lee" width="360"></a></li>
                <li><a href="/hamilton"><img src="/img/Banner-Margareth-Hamilton.jpg" alt="Margareth Hamilton" width="360"></a></li>
                <li><a href="/hopper"><img src="/img/Banner-Grace-Hopper.jpg" alt="Grace Hopper" width="360"></a></li>
                <li><a href="/turing"><img src="/img/Banner-Alan-Turing.jpg" alt="Alan Turing" width="360"></a></li>
                <li><a href="/lovelace"><img src="/img/Banner-Ada-Lovelace.jpg" alt="Ada Lovelace" width="360"></a></li>
             </ul>
        </nav>
    </header>
    <main>
        <div class="title">
            <h1>Charles Babbage</h1>
        </div>
        <div class="container-all">
            <p class="centrado">
                <img src="/img/Charles Babbage.jpg" alt="Charles Babbage">
            </p>
            <p>
                (Teignmouth, 1792 - Londres, 1871) Matemático e ingeniero británico, inventor de las máquinas calculadoras programables. A comienzos del siglo XIX, bien avanzada <a href="https://es.wikipedia.org/wiki/Revoluci%C3%B3n_Industrial">la Revolución Francesa</a>
                 , los errores en los datos matemáticos tenían graves consecuencias: por ejemplo, una tabla de navegación defectuosa era una causa frecuente de los naufragios. Charles Babbage creyó que una máquina podía hacer cálculos matemáticos más rápidos y más precisos que las personas.
            </p>
            
            <p>En 1822 produjo un modelo funcional pequeño de su Difference engine (máquina diferencial). El funcionamiento aritmético de la máquina era limitado, pero podía recopilar e imprimir tablas matemáticas sin mayor intervención humana que la necesaria para girar las manivelas en la parte superior del prototipo.</p>
            <p>Babbage es considerado el principal pionero de  <a href="https://www.biografiasyvidas.com/tema/informatica.htm">la informática</a>
                 por su siguiente invención, la máquina analítica o Analytical engine. En su diseño teórico, la máquina analítica contenía ya todas las partes esenciales de la computadora moderna: dispositivo de entrada, memoria, unidad central de procesamiento e impresora. La máquina analítica ha pasado a la historia como el prototipo del ordenador moderno, aunque nunca se construyó un modelo a escala real. Pero, aun si se hubiera construido, la máquina analítica habría sido movida por una máquina de vapor y, debido a sus componentes totalmente mecánicos, su velocidad de cálculo no hubiera sido muy grande.</p>
            <p>A finales del siglo XIX, el ingeniero estadounidense <a href="https://www.biografiasyvidas.com/biografia/h/hollerith.htm">Herman Hollerith</a> utilizó una tecnología nueva, la electricidad, cuando sometió a consideración del gobierno de Estados Unidos un proyecto para construir una máquina que fue finalmente utilizada para computar los datos del censo de 1890. Hollerith fundó a continuación la compañía que más tarde se convertiría en IBM.</p>
        </div>
        <div class="container-all">
            <h3 class="centrado">Biografía</h3>
            <p>Charles Babbage se licenció en la Universidad de Cambridge en 1814. Poco después, en 1815, fundó con J. Herschel la Analytic Society con el propósito de renovar de la enseñanza de las matemáticas en Inglaterra. En 1816 fue elegido miembro de la Royal Society y en 1828 ingresó en su universidad como profesor de matemáticas.</p>
            <p>Aunque había destacado en el área de la teoría de funciones y análisis algebraico, Charles Babbage se volcó en el intento por conseguir una máquina capaz de realizar con precisión tablas matemáticas. En 1833 completó su "máquina diferencial", capaz de calcular los logaritmos e imprimirlos de 1 a 108.000 con notable precisión, y formuló los fundamentos teóricos de cualquier autómata de cálculo. Por entonces Babbage ya conocía los sistemas decimales de conteo, y estaba familiarizado con la descomposición de complejas operaciones matemáticas en secuencias sencillas.</p>
            <p class="espaciado">Después de esto, Babbage se volcó en el proyecto de diseñar una "máquina analítica" que fuese capaz de procesar cualquier secuencia de instrucciones aritméticas. Para esta realización contó con fondos del gobierno inglés y con la colaboración de la que está considerada como la primera programadora de la historia, Ada Lovelace, hija del poeta <a href="https://www.biografiasyvidas.com/biografia/b/byron.htm">Lord Byron.</a></p>
            <br>
            <br>
            <p>
                <img src="/img/Máquina diferencial de Babbage.jpg" alt="Máquina diferencial de Babbage">
                <br>
                <span>Máquina diferencial de Babbage.</span>
            </p>
            <p>Aunque no consiguió su propósito, Charles Babbage sentó los principios básicos de las computadoras modernas, como el concepto de programa o instrucciones básicas (que se introducen en la máquina de manera independiente de los datos), el uso de la memoria para retener resultados y la unidad aritmética. La máquina de Babbage, construida exclusivamente con piezas mecánicas y multitud de ruedas dentadas, utilizaba las tarjetas perforadas para la introducción de datos y programas, e imprimía en papel los resultados con técnicas muy similares a las que se emplearon hasta mediados de los años 70.</p>
            <p>En compañía de Ada Lovelace, que empleó mucho de su tiempo en la publicación de las ideas de su maestro, Babbage dedicó sus últimos años y recursos a una máquina infalible que fuese capaz de predecir los ganadores de las carreras de caballos. En honor de Lady Ada Lovelace, el Departamento de Defensa de los Estados Unidos denominó ADA a un lenguaje de programación de computadoras de alto nivel.</p>
        </div>
        <br>
        <div class="centrado">
            <h4>Fuente: <a href="https://www.biografiasyvidas.com/biografia/b/babbage.htm">Biografìas y Vidas</a></h4>
        </div>
    </main>
    <br>
    <br>
    <footer>
        <div class="espacios">
        <nav>
            <ul class="centrado">
                <li><a href="/"><img src="/img/Banner-DH-Heroes.jpg" alt="DH Heroes Home" width="360"></a></li>
                <li><a href="/clarke"><img src="/img/Banner-Joan-Clarke.jpg" alt="Joan Clarke" width="360"></a></li>
                <li><a href="/berners-lee"><img src="/img/Banner-Tim-Berners-Lee.jpg" alt="Tim Berners Lee" width="360"></a></li>
                <li><a href="/hamilton"><img src="/img/Banner-Margareth-Hamilton.jpg" alt="Margareth Hamilton" width="360"></a></li>
                <li><a href="/hopper"><img src="/img/Banner-Grace-Hopper.jpg" alt="Grace Hopper" width="360"></a></li>
                <li><a href="/turing"><img src="/img/Banner-Alan-Turing.jpg" alt="Alan Turing" width="360"></a></li>
                <li><a href="/lovelace"><img src="/img/Banner-Ada-Lovelace.jpg" alt="Ada Lovelace" width="360"></a></li>
            </ul>
        </nav>
    </div>
        <p class="copyr">DH Heroes© Todos los derechos reservados.</p>
    </footer>
</body>
</html>