<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/syle.css">
    <title>Biografía de Tim Berners-Lee</title>
</head>
<body>
    <header>
        <a href="/"><img src="/img/Banner-DH-Heroes.jpg" alt="DH Heroes Home" width="1340"></a>
        <nav >
            <ul class="centrado">
                <li><a href="/babbage"><img src="/img/Banner-Charles-Babbage.jpg" alt="Charles Babbage" width="360"></a></li>
                <li><a href="/clarke"><img src="/img/Banner-Joan-Clarke.jpg" alt="Joan Clarke" width="360"></a></li>
                <li><a href="/hamilton"><img src="/img/Banner-Margareth-Hamilton.jpg" alt="Margareth Hamilton" width="360"></a></li>
                <li><a href="/hopper"><img src="/img/Banner-Grace-Hopper.jpg" alt="Grace Hopper" width="360"></a></li>
                <li><a href="/turing"><img src="/img/Banner-Alan-Turing.jpg" alt="Alan Turing" width="360"></a></li>
                <li><a href="/lovelace"><img src="/img/Banner-Ada-Lovelace.jpg" alt="Ada Lovelace" width="360"></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="title">
            <h1>Tim Berners-Lee</h1>
        </div>
        <div class="container-all">
            <img src="/img/Tim_Berners_Lee.jpg" alt="Tim Berners-Lee">
            <p>Timothy "Tim" John Berners-Lee (Londres, Reino Unido, 8 de junio de 1955), conocido como Tim Berners-Lee, es un <a href="https://es.wikipedia.org/wiki/Inform%C3%A1tico_te%C3%B3rico">científico de la computación</a> británico, conocido por ser el padre de la <a href="https://es.wikipedia.org/wiki/World_Wide_Web">World Wide Web</a>. Estableció la primera comunicación entre un cliente y un servidor usando el protocolo <a href="https://es.wikipedia.org/wiki/Protocolo_de_transferencia_de_hipertexto">HTTP</a> en diciembre de 1990. En octubre de 1994 fundó el Consorcio de la World Wide Web (<a href="https://es.wikipedia.org/wiki/World_Wide_Web_Consortium">W3C</a>) con sede en el <a href="https://es.wikipedia.org/wiki/Instituto_de_Tecnolog%C3%ADa_de_Massachusetts">MIT</a>, para supervisar y estandarizar el desarrollo de las tecnologías sobre las que se fundamenta la Web y que permiten el funcionamiento de Internet.</p>
            <p>Ante la necesidad de distribuir e intercambiar información acerca de sus investigaciones de una manera más efectiva, Berners-Lee desarrolló las ideas fundamentales que estructuran la web. Él y su grupo crearon lo que por sus siglas en inglés se denomina Lenguaje HTML (HyperText Markup Language) o lenguaje de etiquetas de hipertexto, el protocolo HTTP (HyperText Transfer Protocol) y el sistema de localización de objetos en la web URL (Uniform Resource Locator).</p>
            <p>Es posible encontrar muchas de las ideas plasmadas por Berners-Lee en el <a href="https://es.wikipedia.org/wiki/Proyecto_Xanad%C3%BA">proyecto Xanadú</a> (que propuso Ted Nelson) y el memex (de Vannevar Bush).</p>
        </div>
        <div class="container-all">
            <h3>Biografía</h3>
            <img src="/img/Tim_Berners-Lee-2005.jpg" alt="Tim Berners-Lee">
            <p>Tim Berners-Lee nació en el sudoeste de Londres, Reino Unido, el 8 de junio de 1955. Sus padres eran Conway Berners-Lee y Mary Lee Woods.1​ Sus padres eran matemáticos británicos y formaron parte del equipo que construyó el Manchester Mark I[cita requerida]. Por ello, la orientación profesional le venía de familia, ya que sus padres se habían conocido en el proyecto de desarrollo del Ferranti Mark I, el primer ordenador comercial con programa almacenado desarrollado por la empresa Ferranti en marzo de 1951. Su padre, Conway Berners-Lee, y su madre, Mary Lee Woods, también fueron especialistas en computación; trabajaron con el equipo que construyó el Ferranti Mark l.</p>
            <p>Comenzó en la escuela primaria Sheen Mont y luego pasó al Emanuel School, ambas en Londres, de 1969 a 1973. Estudió en Queen's College, de la Universidad de Oxford, de 1973 a 1976, donde recibió un título de primera clase de Física.4​ Conoció a su primera esposa en este tiempo. En 1978, trabajó en D.G. Nash Limited (también en Poole) donde escribió un sistema operativo.</p>
        </div>
        <br>
        <div class="container-all">
            <h3>Desarrollo de su carrera</h3>
            <img src="/img/800px-First_Web_Server.jpg" alt="NeXTCube">
            <p>Berners-Lee trabajó en el CERN desde junio hasta diciembre de 1980 6​. Durante ese tiempo, propuso un proyecto basado en el hipertexto para facilitar la forma de compartir y la puesta al día de la información entre investigadores. En este periodo también construyó un programa llamado ENQUIRE que no llegó a ver la luz.</p>
            <p>Después de dejar el CERN, en 1980, se fue a trabajar a la empresa de John Poole Image Computer Systems Ltd., pero regresó al CERN otra vez en 1984.</p>
            <p>En 1989, el CERN era el nodo de Internet más grande de Europa y Berners-Lee vio la oportunidad de unir Internet y el hipertexto (HTTP y HTML), de lo que surgiría la World Wide Web. Desarrolló su primera propuesta de la Web el 12 de marzo de 1989,8​ pero no tuvo mucho eco, por lo que en 1990 y con la ayuda de Robert Cailliau, hicieron una revisión que fue aceptada por su gerente, Mike Sendall. Usó ideas similares a las que había usado en el sistema Enquire, para crear la World Wide Web, para esto diseñó y construyó el primer navegador (llamado WorldWideWeb y desarrollado con NEXTSTEP) y el primer servidor Web al que llamó httpd (HyperText Transfer Protocol daemon).</p>
            <p>El primer servidor Web se encontraba en el CERN y fue puesto en línea el 6 de agosto de 1991. Esto proporcionó una explicación sobre lo que era el World Wide Web, cómo uno podría tener un navegador y cómo establecer un servidor Web. Este fue también el primer directorio Web del mundo, ya que Berners-Lee mantuvo una lista de otros sitios Web aparte del suyo. Debido a que tanto el software del servidor como del cliente fue liberado de forma gratuita desde el CERN, el corazón de Internet Europeo en esa época, su difusión fue muy rápida. El número de servidores Web pasó de veintiséis en 1992 a doscientos en octubre de 1995 lo que refleja cual fue la velocidad de la difusión de internet.</p>
            <p>En 1994 entró en el Laboratorio de Ciencias de la Computación e Inteligencia Artificial del Massachusetts Institute of Technology. Se trasladó a EE. UU. y puso en marcha el W3C, que dirige actualmente. El W3C es un organismo internacional de estandarización de tecnologías Web dirigido conjuntamente por el Instituto Tecnológico de Massachusetts, el ERCIM francés y la Universidad de Keiō en Japón. Este organismo decidió que todos sus estándares fuesen libres, es decir, que los pudiese utilizar todo el mundo libremente sin coste alguno, lo que sin lugar a dudas fue una de las grandes razones para que la Web haya llegado a tener la importancia que tiene hoy en día.</p>
        </div>
        <div class="espacios">
            <h4>Fuente: <a href="https://es.wikipedia.org/wiki/Tim_Berners-Lee">Wikipedia</a></h4>
        </div>
    </main>
    <footer>
        <nav>
            <ul class="centrado">
                <li><a href="/"><img src="/img/Banner-DH-Heroes.jpg" alt="DH Heroes Home" width="360"></a></li>
                <li><a href="/babbage"><img src="/img/Banner-Charles-Babbage.jpg" alt="Charles Babbage" width="360"></a></li>
                <li><a href="/clarke"><img src="/img/Banner-Joan-Clarke.jpg" alt="Joan Clarke" width="360"></a></li>
                <li><a href="/hamilton"><img src="/img/Banner-Margareth-Hamilton.jpg" alt="Margareth Hamilton" width="360"></a></li>
                <li><a href="/hopper"><img src="/img/Banner-Grace-Hopper.jpg" alt="Grace Hopper" width="360"></a></li>
                <li><a href="/turing"><img src="/img/Banner-Alan-Turing.jpg" alt="Alan Turing" width="360"></a></li>
                <li><a href="/lovelace"><img src="/img/Banner-Ada-Lovelace.jpg" alt="Ada Lovelace" width="360"></a></li>
            </ul>
        </nav>
        <p class="copyr">DH Heroes© Todos los derechos reservados.</p>
    </footer>
</body>
</html>