<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/syle.css">
    <title>Biografía de Joan Clarke</title>
</head>

<body>
    <header>
        <a href="/"><img src="/img/Banner-DH-Heroes.jpg" alt="DH Heroes Home" width="1340"></a>
        <nav>
            <ul class="centrado">
                <li><a href="/babbage"><img src="/img/Banner-Charles-Babbage.jpg" alt="Charles Babbage" width="360"></a></li>
                <li><a href="/berners-lee"><img src="/img/Banner-Tim-Berners-Lee.jpg" alt="Tim Berners Lee"
                width="360"></a></li>
                <li><a href="/hamilton"><img src="/img/Banner-Margareth-Hamilton.jpg" alt="Margareth Hamilton"
                width="360"></a></li>
                <li><a href="/hopper"><img src="/img/Banner-Grace-Hopper.jpg" alt="Grace Hopper" width="360"></a></li>
                <li><a href="/turing"><img src="/img/Banner-Alan-Turing.jpg" alt="Alan Turing" width="360"></a></li>
                <li><a href="/lovelace"><img src="/img/Banner-Ada-Lovelace.jpg" alt="Ada Lovelace" width="360"></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="title">
            <h1>Joan Elizabeth Clarke</h1>
        </div>
        <div class="container-all">
            <img src="/img/Joan-Clarke.jpg" alt="Joan Clarke">
            <p>Joan Elisabeth Lowther Murray, nacida como Joan Elisabeth Lowther Clarke (Londres, 24 de junio de 1917 –
                Oxford, 4 de septiembre de 1996) fue una <a href="https://es.wikipedia.org/wiki/Criptoan%C3%A1lisis">criptoanalista</a> y <a href="https://es.wikipedia.org/wiki/Numism%C3%A1tica">numismática</a> británica que trabajó en <a href="https://es.wikipedia.org/wiki/Bletchley_Park">Bletchley Park</a> durante la <a href="https://es.wikipedia.org/wiki/Segunda_Guerra_Mundial">Segunda Guerra Mundial</a>.</p>
            <p>Fue la única mujer que trabajó en el equipo del matemático <a href="/turing">Alan Turing</a> en el proyecto Enigma, que
                desencriptó las comunicaciones secretas de la <a href="https://es.wikipedia.org/wiki/Alemania_nazi">Alemania nazi</a>. Su papel en este proceso le valió premios y
                citaciones, como el nombramiento como miembro de la <a href="https://es.wikipedia.org/wiki/Orden_del_Imperio_Brit%C3%A1nico">Orden del Imperio Británico (MBE)</a>, en 1946</p>
        </div>
        <div class="container-all">
            <h3>Primeros Años</h3>
            <p>Fue la más pequeña de los hijos de Dorothy Elisabeth Clarke y el clérigo William Kemp Lowther Clarke.
                Tuvo tres hermanos y una hermana.​ Estudió en la escuela secundaria para niñas Dulwich High School en el
                sur de Londres. En 1936, ganó una beca para estudiar en el <a href="https://es.wikipedia.org/wiki/Newnham_College">Newnham College, Cambridge</a>, donde obtuvo una
                doble titulación en matemáticas.​ Se le negó un título completo, ya que Cambridge sólo se lo otorgó a
                los hombres hasta 1948.</p>
            <p>Las habilidades matemáticas de Clarke fueron descubiertas por primera vez por Gordon Welchman, en una
                clase de <a href="https://es.wikipedia.org/wiki/Geometr%C3%ADa">Geometría</a> en Cambridge. Welchman fue uno de los cuatro mejores matemáticos reclutados en 1939
                para supervisar las operaciones de decodificación en Bletchley Park. Después de darse cuenta de las
                habilidades matemáticas de Clarke, la reclutó para que se uniera a él en Bletchley Park y formara parte
                de la <a href="https://es.wikipedia.org/wiki/Government_Communications_Headquarters">Government Code and Cypher School</a> (GC&CS).</p>
            <p>La GC&CS comenzó en 1939 con un único propósito, romper el Código Enigma alemán. Enigma era una máquina
                que los alemanes inventaron para encriptar sus mensajes; creían firmemente que su máquina era
                irrompible. Clarke llegó por primera vez a Bletchley Park el 17 de junio de 1940. En primer lugar, fue
                colocada en un grupo sólo de mujeres llamado "Las niñas", que se dedicaba principalmente al trabajo
                rutinario de oficina. En ese momento, la criptología no era un trabajo para mujeres. Según Clarke, ella
                sólo conocía a otra criptóloga que trabajaba en Bletchley Park.</p>
        </div>
        <div class="container-all">
            <h3>Trayectoria</h3>
            <h4>Descifrando códigos en Bletchley Park</h4>
            <p>En junio de 1940, Clarke fue reclutada por su antiguo supervisor académico, Gordon Welchman, para la
                GC&CS. Trabajó en Bletchley Park en la sección conocida como Hut 8 y rápidamente se convirtió en la
                única mujer practicante de 'banburismus', un proceso criptoanalítico desarrollado por Alan Turing que
                redujo la necesidad de bombes (dispositivos electromecánicos como los utilizados por los criptólogos
                británicos Welchman y Turing para descifrar mensajes encriptados alemanes durante la Segunda Guerra
                Mundial).​ Aunque Clarke tenía el mismo puesto que sus compañeros de trabajo varones, le pagaban menos
                por su género. La primera promoción de trabajo de Clarke fue al grado de lingüista, que fue diseñado
                para ganar dinero extra a pesar del hecho de que no hablaba otro idioma. Esta promoción fue un
                reconocimiento a su carga de trabajo y a sus contribuciones al equipo.</p>
            <p>En 1941, se capturaron embarcaciones junto a sus equipos de cifrado y códigos. Antes de que se obtuviera
                esta información, las rudeltaktik habían hundido 282.000 toneladas de barcos al mes de marzo a junio de
                1941. En noviembre, Clarke y su equipo lograron reducir este número a 62.000 toneladas.​ Hugh Alexander,
                jefe del Hut 8 de 1943 a 1944, la describió como "una de las mejores banburistas de la sección". El
                propio Alexander era considerado como el mejor de los banburistas. Él y I.J. Good consideraron el
                proceso más como un juego intelectual que como un trabajo. No fue "lo suficientemente fácil como para
                ser trivial, pero no lo suficientemente difícil como para causar un colapso nervioso". Clarke se
                convirtió en subdirectora del Hut 8 en 1944,10​11​ aunque se le impidió progresar debido a su género, y
                se le pagaba menos que a los hombres.</p>
        </div>
        <div class="container-all">
            <h4>Después de la guerra</h4>
            <p>Después de la guerra, Clarke trabajó para el GC&CS donde conoció al Teniente Coronel John Kenneth Ronald
                Murray, un oficial retirado del ejército que había servido en la India. Se casaron el 26 de julio de
                1952 en la Catedral de Chichester. Poco después de su matrimonio, John Murray se retiró debido a su mala
                salud y la pareja se mudó a Crail en Fife (Escocia),13​ donde vivían en Priorscroft, 14 Nethergate.
                Volvieron a trabajar en GC&CS en 1962, donde Clarke permaneció hasta 1977, cuando se jubiló a los 60
                años.</p>
            <p>Tras la muerte de su marido en 1986, Clarke se trasladó a Headington, Oxfordshire, donde continuó su
                investigación sobre la acuñación de monedas. Durante la década de 1980, asistió al historiador Harry
                Hinsley con el apéndice del volumen 3, parte 2 de la publicación British Intelligence in the Second
                World War. También asesoró a historiadores que estudiaban la ruptura de códigos en tiempos de guerra en
                Bletchley Park. Debido al secreto continuo entre los criptoanalistas, el alcance total de sus logros
                sigue siendo desconocido.</p>
        </div>
        <div class="container-all">
            <h4>Interés numismático</h4>
            <p>Después de conocer a su marido, que había publicado trabajos sobre la moneda escocesa de los siglos XVI y
                XVII, Clarke se interesó por la historia numismática. Estableció la secuencia de la compleja serie de
                monedas de 'unicornio de oro' y de 'trigo pesado' que circulaban en Escocia durante los reinados de
                Jacobo III y Jacobo IV. En 1986, su investigación fue reconocida por la British Numismatic Society
                cuando le fue otorgada la Medalla de Oro Sanford Saltus. El número 405 de la Circular Numismática
                describe su trabajo sobre el tema como "magistral".</p>
        </div>
        <div class="container-all">
            <h3>Vida personal</h3>
            <p>Según Kerry Howard, investigadora de la historia de las mujeres en la Segunda Guerra Mundial, Clarke era
                una persona muy reservada y se sabe poco sobre sus intereses personales o su pasado. Se sabe que tuvo
                una serie de pasatiempos que se convirtieron en pasiones, como el trabajo botánico, el ajedrez, el
                tejido de punto y las monedas.</p>
            <p>En 1941, Clarke desarrolló una estrecha amistad con su colega del Hut 8, <a href="/turing">Alan Turing</a>. Se hicieron muy
                buenos amigos en Bletchley Park. Turing arregló sus turnos para que pudieran trabajar juntos, y también
                pasaron gran parte de su tiempo libre juntos. A principios del año, Turing le propuso matrimonio a
                Clarke, y posteriormente la presentó a su familia. Aunque le admitió en privado su homosexualidad,
                Turing decidió que no podía seguir adelante con el matrimonio y rompió con ella a mediados de 1941.
                Clarke admitió más tarde que sospechaba de la homosexualidad de Turing durante algún tiempo, y no fue
                una gran sorpresa cuando él lo reconoció.20​21​ Ambos habían sido buenos amigos desde poco después de
                conocerse, y continuaron siéndolo hasta la muerte de Turing en 1954. Compartían muchos hobbies y tenían
                personalidades similares.</p>
        </div>
        <div class="container-all">
            <h3>Reconocimientos</h3>
            <p>Clarke fue interpretada por la actriz británica Keira Knightley en la película The Imitation Game (2014),
                frente a Benedict Cumberbatch como Alan Turing.25​26​ La sobrina sobreviviente de Turing, Inagh Payne,
                describió a Clarke como "bastante simple" y pensó que Knightley fue elegida inapropiadamente como
                Clarke.27​ El biógrafo Andrew Hodges también criticó la película, afirmando que el guion "construyó una
                relación con Joan mucho mayor de lo que realmente era".</p>
            <p>Por el contrario, un artículo del periodista de la BBC Joe Miller afirmaba que la "historia de Clarke ha
                sido inmortalizada". En cuanto a la película en sí, el director Morten Tyldum ha argumentado que muestra
                cómo Clarke tuvo éxito en su campo a pesar de trabajar en una época "en la que la inteligencia no era
                realmente apreciada en las mujeres".</p>
            <p>Knightley fue nominada para el Óscar a la mejor actriz de reparto en la 87ª edición de los Premios de la
                Academia por su actuación como Clarke.</p>
        </div>
        <div class="espacios">
            <h4>Fuente:<a href="https://es.wikipedia.org/wiki/Joan_Clarke">Wikipedia</a></h4>
        </div>
    </main>
    <footer>
        <nav>
            <ul class="centrado">
                <li><a href="/"><img src="/img/Banner-DH-Heroes.jpg" alt="DH Heroes Home" width="360"></a></li>
                <li><a href="/babbage"><img src="/img/Banner-Charles-Babbage.jpg" alt="Charles Babbage" width="360"></a></li>
                <li><a href="/berners-lee"><img src="/img/Banner-Tim-Berners-Lee.jpg" alt="Tim Berners Lee"
                width="360"></a></li>
                <li><a href="/hamilton"><img src="/img/Banner-Margareth-Hamilton.jpg" alt="Margareth Hamilton"
                width="360"></a></li>
                <li><a href="/hopper"><img src="/img/Banner-Grace-Hopper.jpg" alt="Grace Hopper" width="360"></a></li>
                <li><a href="/turing"><img src="/img/Banner-Alan-Turing.jpg" alt="Alan Turing" width="360"></a></li>
                <li><a href="/lovelace"><img src="/img/Banner-Ada-Lovelace.jpg" alt="Ada Lovelace" width="360"></a></li>
            </ul>
        </nav>
        <p class="copyr">DH Heroes© Todos los derechos reservados.</p>
    </footer>
</body>

</html>