<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/syle.css">
    <title>Biografía de Grace Hopper</title>
</head>
<body>
    <header>
        <a href="/"><img src="/img/Banner-DH-Heroes.jpg" alt="DH Heroes Home" width="1340"></a>
        <nav>
            <ul class="centrado">
                <li><a href="/babbage"><img src="/img/Banner-Charles-Babbage.jpg" alt="Charles Babbage" width="360"></a></li>
                <li><a href="/clarke"><img src="/img/Banner-Joan-Clarke.jpg" alt="Joan Clarke" width="360"></a></li>
                <li><a href="/berners-lee"><img src="/img/Banner-Tim-Berners-Lee.jpg" alt="Tim Berners-Lee" width="360"></a></li>
                <li><a href="/hamilton"><img src="/img/Banner-Margareth-Hamilton.jpg" alt="Margareth Hamilton" width="360"></a></li>
                <li><a href="/turing"><img src="/img/Banner-Alan-Turing.jpg" alt="Alan Turing" width="360"></a></li>
                <li><a href="/lovelace"><img src="/img/Banner-Ada-Lovelace.jpg" alt="Ada Lovelace" width="360"></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="title">
            <h1>Grace Hopper</h1>
        </div>
        <div class="container-all">
            <img src="/img/grace-hopper.jpg" alt="Grace Hopper" width="500">
            <p>Grace Murray Hopper (Nueva York, 9 de diciembre de 1906 - Condado de Arlington, 1 de enero de 1992) fue una <a href="https://es.wikipedia.org/wiki/Inform%C3%A1tico_te%C3%B3rico">científica de la computación</a> y militar estadounidense con grado de <a href="https://es.wikipedia.org/wiki/Contraalmirante">contraalmirante</a>. Fue pionera en el mundo de las <a href="https://es.wikipedia.org/wiki/Ciencias_de_la_computaci%C3%B3n">ciencias de la computación</a> y la primera <a href="https://es.wikipedia.org/wiki/Programador">programadora</a> que utilizó el <a href="https://es.wikipedia.org/wiki/Harvard_Mark_I">Mark I</a>. Entre las décadas de los 50 y 60 desarrolló el primer <a href="https://es.wikipedia.org/wiki/Compilador">compilador</a> para un <a href="https://es.wikipedia.org/wiki/Lenguaje_de_programaci%C3%B3n">lenguaje de programación</a> así como también propició métodos de validación.</p>
            <p>Popularizó la idea de los lenguajes de programación independientes de la máquina, lo que derivó en el desarrollo de <a href="https://es.wikipedia.org/wiki/COBOL">COBOL</a>, un lenguaje de alto nivel de programación que aún se utiliza. Era conocida por sus amistades como Amazing Grace.</p>
        </div>
        <div class="container-all">
            <h3 class="espacios">Biografía</h3>
            <p>Grace Brewster Murray nació en Nueva York (EE. UU.). Grace era bisnieta de Alexander Russell, un almirante de la Armada de los Estados Unidos. Él fue su modelo y su héroe personal. También era nieta de un ingeniero civil, John Van Horne. Sus padres fueron Walter Fletcher Murray, corredor de seguros, y Mary Campbell Van Horne. Desde muy pequeña demostró aptitudes para las ciencias y la matemática. Recibió siempre el apoyo de su abuelo y de su padre para que las estudiara, pues quería que sus hijas tuvieran las mismas oportunidades que su hijo varón. También le atrajo mucho cualquier tipo de dispositivo mecánico, tanto fue así, que con 7 años desarmó todos los relojes de su casa para ver si podía entender cómo funcionaban. En 1930 se casa con Vincent Foster Hopper, un doctor en literatura en lengua inglesa que durante muchos años fue presidente del departamento de inglés de la Universidad de Nueva York. Vincent y Grace se divorciaron en 1945 sin tener hijos.</p>
            <h4>Estudios</h4>
            <p>Hopper estudió en varias escuelas privadas para mujeres, y en 1924 ingresó en el Vassar College en Nueva York, donde estudió matemáticas y física, graduándose con honores en 1928. Poco después, obtuvo una beca para cursar una maestría en matemática en la universidad de Yale, donde se graduó en 1930 y obtuvo su doctorado en 1934.</p>
            <p>Le ofrecieron un puesto como asistente en el departamento de matemática del Vassar College, donde permaneció hasta 1943. Mientras tanto, continuó sus estudios en Yale, donde se doctoró en matemática en 1934.</p>
            <h4>Ingreso en la Armada</h4>
            <p>Siguiendo los pasos de su bisabuelo, en 1943 decidió unirse a las fuerzas armadas en plena Segunda Guerra Mundial, para lo que tuvo que obtener un permiso especial. Asistió a la escuela de cadetes navales para mujeres, graduándose la primera de su clase en 1944 y con el rango de teniente. Fue enviada a Harvard para trabajar en el proyecto de computación que dirigía el comandante Howard Aiken, la construcción de la Mark I. Al acabar la Segunda Guerra Mundial, Hopper quiso seguir en la Armada pero había cumplido los 40 años en 1946 (el límite eran 38) por lo que fue rechazada, aunque pudo permanecer en la reserva. Así que siguió en Harvard como investigadora junto a Aiken. Desarrolló varias aplicaciones contables para la Mark I, que estaba siendo utilizada por una compañía de seguros.</p>
            <p>Permaneció en Harvard hasta 1949, cuando Hopper empezó a trabajar en la Eckert - Mauchly Corporation en Filadelfia, que en esos momentos estaban desarrollando las computadoras BINAC y UNIVAC I. Trabajó en esa compañía y en sus sucesoras hasta su retiro en 1971. Allí fue donde Hopper realizó sus mayores contribuciones a la programación moderna. En 1952, desarrolló el primer compilador de la historia, el A-0, y en 1957 realizó el primer compilador para procesamiento de datos que usaba órdenes en inglés, el B-0 (FLOW-MATIC), utilizado principalmente para el cálculo de nóminas.</p>
            <h4>UNIVAC</h4>
            <p>En 1949, Hopper se convirtió en empleada de Eckert–Mauchly Computer Corporation como matemática senior y se unió al equipo desarrollador del UNIVAC I. Hopper también fue directora de desarrollo de programación automática para Remington Rand. El UNIVAC I fue conococido como el primer gran ordenador lanzado al mercado en 1950, siendo más competitivo procesando información que el Mark I.</p>
            <p>Cuando Hopper recomendó el desarrollo de un nuevo lenguaje de programación que usase solamente palabras en inglés, le dijeron que "no se podía hacer porque los ordenadores no entendían inglés", pero ella insistió en que "es mucho más sencillo para la mayoría de las personas escribir en inglés que usar símbolos, así que he decidido que los procesadores de datos tienen que ser capaces de escribir sus programas en inglés, y los ordenadores tendrán que traducirlo al lenguaje máquina".</p>
            <p>Esta idea fue rechazada durante 3 años. Durante ese tiempo, en 1952, escribió un documento sobre los compiladores y desarrolló su propio compilador, el compilador A, conocido en su primera versión como A-0.</p>
            <p>En 1952, tuvo un enlazador - cargador operacional, el cual también era un compilador, del que más tarde dijo que "nadie lo creía, tenía un compilador funcionando y nadie podría tocarlo. Ellos me dijeron que los ordenadores sólo podían hacer cálculos aritméticos, y mi compilador traduce notación matemática en lenguaje máquina. Para los matemáticos, usar símbolos es fácil, pero no era buena idea para los procesadores de datos ya que no entienden esos símbolos, además de que pocas personas entienden los símbolos y es mucho más sencillo que escriban en inglés. Así que decidí que estos procesadores de datos debían ser capaces de escribir los programas en inglés y los ordenadores tendrían que traducirlo al lenguaje máquina". Este fue el inicio de COBOL, un lenguaje de computación para los procesadores de datos, lenguaje que es, actualmente, el más usado para procesar datos.</p>
            <h4>COBOL</h4>
            <p>Tras su experiencia con FLOW-MATIC, Hopper pensó que podía crearse un lenguaje de programación que usara órdenes en inglés y que sirviera para aplicaciones de negocios. Con esta idea, las bases para COBOL habían sido establecidas, y dos años después se creó el comité que diseñó este lenguaje. Aunque Hopper no tuvo un papel preponderante en el desarrollo del lenguaje, fue miembro del comité original para crearlo, y el FLOW-MATIC fue una influencia tan importante en el diseño de COBOL, que Hopper ha pasado a la historia de la informática como su creadora. COBOL fue el primer lenguaje que ofreció una auténtica interfaz a los recursos disponibles en el ordenador, de forma que el programador no tenía que conocer los detalles específicos. Además, los programas desarrollados para una plataforma concreta podían ser ejecutados en un ordenador diferente a aquel en el cual se habían programado sin necesidad de hacer cambios.</p>
            <p>Al final de su carrera profesional participó en los comités de estandarización de los lenguajes de programación COBOL y FORTRAN.</p>
            <h4>Reingreso en la Armada</h4>
            <p>Hopper permaneció en la reserva hasta finales de 1966, cuando tuvo que retirarse con el grado de Capitán de fragata, por haber alcanzado el límite de edad nuevamente. Pero este retiro duró poco, ya que la Armada la volvió a llamar en agosto de 1967 en principio, por un periodo de seis meses para que estandarizara los lenguajes de alto nivel que usaban, pero fue de forma indefinida. Se retiró de nuevo en 1971 pero se le pidió volver al servicio activo de nuevo en 1972. Fue ascendida a Capitán de navío en 1973. En 1983 ascendió a Contraalmirante y en 1986 se retiró de la Armada de manera definitiva, siendo en ese momento la oficial de más edad de la armada de los Estados Unidos. Tras su retiro, se incorporó como asesora en Digital Equipment Corporation, participando en foros industriales, dando unas 200 conferencias por año y participando en programas educativos hasta su muerte.</p>
            <p>Falleció mientras dormía en su domicilio de Arlington, Virginia, el 1 de enero de 1992 a los ochenta y cinco años. Fue enterrada con todos los honores militares el 7 de enero en el cementerio Nacional de Arlington.</p>
        </div>
        <div class="espacios">
            <h4>Fuente:<a href="https://es.wikipedia.org/wiki/Grace_Murray_Hopper">Wikipedia</a></h4>
        </div>
    </main>
    <footer>
        <nav>
            <ul class="centrado">
                <li><a href="/"><img src="/img/Banner-DH-Heroes.jpg" alt="DH Heroes Home" width="360"></a></li>
                <li><a href="/babbage"><img src="/img/Banner-Charles-Babbage.jpg" alt="Charles Babbage" width="360"></a></li>
                <li><a href="/clarke"><img src="/img/Banner-Joan-Clarke.jpg" alt="Joan Clarke" width="360"></a></li>
                <li><a href="/berners-lee"><img src="/img/Banner-Tim-Berners-Lee.jpg" alt="Tim Berners-Lee" width="360"></a></li>
                <li><a href="/hamilton"><img src="/img/Banner-Margareth-Hamilton.jpg" alt="Margareth Hamilton" width="360"></a></li>
                <li><a href="/turing"><img src="/img/Banner-Alan-Turing.jpg" alt="Alan Turing" width="360"></a></li>
                <li><a href="/lovelace"><img src="/img/Banner-Ada-Lovelace.jpg" alt="Ada Lovelace" width="360"></a></li>
            </ul>
        </nav>
        <p class="copyr">DH Heroes© Todos los derechos reservados.</p>
    </footer>
</body>
</html>