<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH Heroes</title>
    <link rel="stylesheet" href="/css/syle.css">
</head>

<body>
    <header>
        <img src="/img/Banner-DH-Heroes.jpg" alt="Banner DH Heroes" width="1340">
        <nav class="centrado">
            <ul>
                <li><a href="/babbage"><img src="/img/Banner-Charles-Babbage.jpg" alt="Charles Babbage" width="720"></a></li>
                <li><a href="/clarke"><img src="/img/Banner-Joan-Clarke.jpg" alt="Joan Clarke" width="720"></a></li>
                <li><a href="/berners-lee"><img src="/img/Banner-Tim-Berners-Lee.jpg" alt="Tim Berners Lee" width="720"></a></li>
                <li><a href="/hamilton"><img src="/img/Banner-Margareth-Hamilton.jpg" alt="Margareth Hamilton" width="720"></a></li>
                <li><a href="/hopper"><img src="/img/Banner-Grace-Hopper.jpg" alt="Grace Hopper" width="720"></a></li>
                <li><a href="/turing"><img src="/img/Banner-Alan-Turing.jpg" alt="Alan Turing" width="720"></a></li>
                <li><a href="/lovelace"><img src="/img/Banner-Ada-Lovelace.jpg" alt="Ada Lovelace" width="720"></a></li>
            </ul>
        </nav>
    </header>
    <main>
        
    </main>
    <footer>
        <p class="copyr">DH Heroes© Todos los derechos reservados.</p>
    </footer>
</body>

</html>